<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".build/phpunit-cache"
         colors="true"
         beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="php-authenticator test suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
	<coverage>
		<report>
			<clover outputFile=".build/coverage/clover.xml"/>
			<xml outputDirectory=".build/coverage/coverage-xml"/>
		</report>
	</coverage>
</phpunit>
